<div class="card">
  <div class="card-header">
    {{postData.title}}
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
        <p> {{postData.post}}.</p>
        <footer class="blockquote-footer">Post made by: <cite title="Source Title">{{postData.user_id}}</cite></footer>  
    </blockquote>  
  </div>
</div>

<br>


<form class="new-comment">
  <div class="mb-3">
    <input type="hidden" name="post-id" id="comment_input" value="{{postData.id}}" />
    <label for="exampleFormControlTextarea1" class="form-label">Add new comment</label>
    <textarea  name="comment-body" class="form-control" id="post-text" rows="3"></textarea>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

<br>
{{#each comments}}
<div class="card">
    <div class="card-body">
        <blockquote class="blockquote mb-0">
        <p>{{comment}}</p>
        <footer class="blockquote-footer">Post made by: <cite title="Source Title">{{user.name}}</cite></footer>
        </blockquote>  
    </div>
</div>
<br>
{{/each}}

<script src="/js/addComment.js"></script>